.app {
  background-color: palegreen;
  padding: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.app div {
  padding: inherit;
  background-color: blanchedalmond;
}
